@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 15px !important;
  color: #ffffff;
  content: "prev";
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
  font-size: 15px !important;
  color: #ffffff;
}

.swiper-button-prev,
.swiper-button-next {
  background: #4083f8;
  width: 38px !important;
  height: 40px !important;
  font-size: 10px !important;
  border-radius: 50%;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
